<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chat anonymously with a randomly chosen stranger">
    <meta name="author" content="cazrin.net">

    <title>Hello Stranger</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= render "_icons.html" %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "_sidebar.html", conn: @conn %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <%= render "_fonts_tracking_code.html" %>
    <%= render "_ga_tracking.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
