<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Chat anonymously with a randomly chosen stranger">
    <meta name="author" content="cazrin.net">

    <title>Hello Stranger</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <%= render "_icons.html" %>
  </head>

  <body>
    <div class="wrapper">
      <input class="sidebar__toggle" id="sidebar-toggle" type="checkbox">
      <div class="sidebar__overlay"></div>

      <aside class="sidebar">
        <label class="sidebar__toggle-button" for="sidebar-toggle">
          <svg viewBox="0 0 92.833 92.833">
            <use xlink:href="/images/menu_icon.svg#icon"/>
          </svg>
        </label>

        <header class="sidebar__header">
          <h1 class="sidebar__heading">
            <span>Hello</span><br />
            Stranger
          </h1>
        </header>

        <div class="sidebar__content">
          <p>Chat anonymously with a randomly chosen stranger.</p>
        </div>

        <footer class="sidebar__footer">
          By using this site you accept the
          <%= link "User Agreement", to: page_path(@conn, :agreement) %>
        </footer>
      </aside>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <%= render "_fonts_tracking_code.html" %>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
