*, *:before, *:after
  box-sizing: inherit

html
  box-sizing: border-box
  color: rgba(0,0,0,.87)
  font-family: "Avenir Next W01"
  line-height: 1.5

html, body
  height: 100%
  margin: 0
  padding: 0

.wrapper
  align-items: stretch
  display: flex
  width: 100%

  &--chat
    height: 100%

main
  display: flex
  flex: 1
  transition: transform 0.2s

p, time
  margin: 0
