.chat
  display: flex
  flex-direction: column
  height: 100%

  &__agreement
    color: darken(coral, 30%)
    font-size: 0.75rem
    margin-top: 1rem
    text-align: center

    &-link
      color: white
      text-decoration: none

  &__messages
    background-color: rgba(0,0,0,0.1)
    flex-grow: 1
    overflow-y: scroll

  &__input
    background-color: coral
    min-height: 6.75rem
    padding: 1rem

  &__text-field
    border: none
    border-radius: 0.2rem
    font-size: 1rem
    padding: 1rem
    min-height: 100%
    width: 100%
